*
{
    -ms-content-zooming: none;
    touch-action: none;
    overflow: hidden;
}

body
{
    touch-action: none;
}

html {
    -ms-content-zooming: none;
    overflow: hidden;
    height:100%;
    width:100%;
}
body { 
    touch-action: none;
    overflow:hidden;
    height:100%;
    width:100%;
}

canvas.surface
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.canvasContainer
{
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index: 0;
}

#inkCanvas
{
    background-color: rgba(0, 0, 0, 0.075);
    z-index: 2;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {
    position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
} 